/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.text-banner {
		width: 86%;
		margin-left: 30px;
	}
	.box1 {
		height: 100%;
	}
	.box2 {
		margin-top: 0;
	}
	.box5-text-left h3 {
		text-align: center;
	}
	.box-button-right h4 {
		margin: 8% 0;
		/*margin-left: 22%;*/
	}
	/*.box6-img {
		margin-left: 147px;
	}*/
	.basic {
		margin-bottom: 30px;
	}
	.month {
		width: 29%;
	}
	.year {
		width: 29%;
	}
	.menu {
		display: none;
	}
	.phone-logo {
		display: none;
	}
	.mobi {
		display: block;
	}
	.logo {
		display: none;
	}
	.text-right h4 {
		margin-top: 29px;
	}
	.navbar-brand {
		padding-right: 10%;
	}
	/*.info {
		margin-left: 43%;
	}*/
	.arrow {
		padding-right: 10px;
	}
	.box-con {
		height: 100%;
    	width: 100%;
	}
	.box-con:hover:after {
		right: 31px;
	}
	.box9 {
		margin-top: 72px;
	}
	.box-left {
		margin-right: 0;
	}
	.mobi-ti {
		float: right;
		margin-top: -17%;


	}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.text-banner {
		margin-left: 130px;
	}
	
	.text-info p {
		margin-left: 15px;
	}
	.phone-logo {
		display: none;
	}
	/*.info {
		margin-left: 30%;
	}*/
	.box-con {
		height: 100%;
    	width: 100%;
	}
	.box-con:hover:after {
		right: 28px;
	}
	.box-button-right h4 {
		height: auto;
		line-height: auto;
	}
	.month {
		width: 20%;
	}
	.basic {
		margin-bottom: 30px;
	}
	.icon span {
	    padding-right: 16px;
	}
	.box9 {
		margin-top: 70px;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*.box6-img {
		margin-left: 42px;
	}*/
	.text-banner {
		margin-left: 189px;
	}
	.box-button-right h4 {
		margin-left: -32%;
	}
	/*.info {
		margin-left: 30%;
	}*/
	
	.phone-logo {
		display: none;
	}
	.icon span {
	    padding-right: 17px;
	}
	.text-right h4 {
		
		line-height: 60px;
	}
	.box-con {
		height: 100%;
    	width: 100%;
	}
	.box-con:hover:after {
		right: 24px;
	}
	.month {
		width: 20%;
	}
	.year {
		width: 20%;
	}
	.menu {
		width: 100%;
    	padding-right: 00px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.icon span {
	    padding-right: 13px;
	}
	/*.phone-logo {
		display: none;
	}*/
	.box-con {
		height: 100%;
    	width: 100%;
	}
	.box-con:hover:after {
		right: 26px;
	}
	/*.box10-icon1 {
		display: none;
	}*/
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}